{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSameLine": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
